{% extends 'base.html' %}
{% block title %}地址列表{% endblock %}
{% block content %}
<table border=1 cellspacing=0>
  <thead>
    <tr>
      <th>上级地址</th><th>名称</th><th>编号</th><th>操作</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td>
	<span><a href='/address/add'>增加</a></span>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>
  <tbody>
    {% for address in pagination.items %}
    <tr>
      <td>{{ address.parent.name|default('无') }}</td>
      <td>{{ address.name }}</td>
      <td>{{ address.no }}</td>
      <td>
	<span><a href='/address/update/{{ address.id }}'>编辑</a></span>
	<span>
	  <form action='/address/delete/{{ address.id }}' method='post'>
	    <input type='submit' value='删除'>
	  </form>
	</span>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div id='page-nav'>
{% import 'widgets.html' as widgets %}
{{ widgets.render_pagination(pagination,extra) }}
</div>
{% endblock %}
