{% extends 'base.html' %}
{% block title %}user search{% endblock %}
{% block content %}
<div>
  <form method='GET'>
    <div>
      <label for='name'>begin of name</label>
      <input id='name' name='name'>
    </div>
    <input type='submit' value='search'>
  </form>
</div>
<div>
  <table>
    <thead>
      <tr>
	<th>name</th>
	<th>is_activate</th>
	<th>address</th>
	<th>roles</th>
	<th>operation</th>
      </tr>
    </thead>
    <tbody>
      {% for item in pagination.items %}
      <tr>
	<td>{{ item.name }}</td>
	<td>{{ item.active }}</td>
	<td>{{ item.address.name }}</td>
	<td>{{ lst2csv(item.roles) }}</td>
	<td>
	  {% if current_user.has_role('admin') %}
	  <a href='{{ url_for("admin_add_user") }}'>add</a>
	  <a href='{{ url_for("admin_remove_user", pk=item.id) }}'>delete </a>
	  <a href='{{ url_for("admin_user_add_role", pk=item.id) }}'>add role</a>
	  <a href='{{ url_for("admin_user_remove_role", pk=item.id) }}'>remove role</a>
	  <a href='{{ url_for("admin_user_activate", pk=item.id) }}'>activate</a>
	  <a href='{{ url_for("admin_user_inactivate", pk=item.id) }}'>deactivate</a>
	  <a href='{{ url_for("admin_user_changepassword", pk=item.id) }}'>change password</a>
	  <a href='{{ url_for("admin_user_bindaddr", pk=item.id) }}'>bind addr</a>
	  <a href='{{ url_for("admin_user_detail", pk=item.id) }}'>detail</a>
	  <a href='{{ url_for("admin_log_clean", operator_id=item.id) }}'>log clean</a>
	  <a href='{{ url_for("note_to_user", user_id=item.id) }}'>add note</a>
	  {% endif %}
	</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% from 'widgets.html' import render_pagination as paginate %}
{% if pagination.has_next or pagination.has_prev %}
{{ paginate(pagination) }}
{% endif %}
{% endblock %}
