{% extends 'base.html' %}
{% block title %}user search{% endblock %}
{% block content %}
<div>
  <form method='GET'>
    <div>
      <label for='name'>begin of name</label>
      <input id='name' name='name'>
    </div>
    <input type='submit' value='search'>
  </form>
</div>
<div>
  <table>
    <thead>
      <th>
	<td>name</td>
	<td>is_activate</td>
	<td>address</td>
	<td>roles</td>
	<td>operation</td>
      </th>
    </thead>
    <tbody>
      {% for item in pagination.items %}
      <tr>
	<td>{{ item.name }}</td>
	<td>{{ item.active }}</td>
	<td>{{ item.address.name }}</td>
	<td>{{ lst2csv(item.roles) }}</td>
	<td>
	  <a href='{{ url_for("admin_add_user") }}'>add</a>
	  <a href='{{ url_for("admin_remove_user", pk=item.id) }}'>remove</a>
	  <a href='{{ url_for("admin_user_add_role", pk=item.id) }}'>add role</a>
	  <a href='{{ url_for("admin_user_remove_role", pk=item.id) }}'>remove role</a>
	  <a href='{{ url_for("admin_user_activate", pk=item.id) }}'>activate</a>
	  <a href='{{ url_for("admin_user_inactivate", pk=item.id) }}'>deactivate</a>
	  <a href='{{ url_for("admin_user_changepassword", pk=item.id) }}'>change password</a>
	</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% from 'widgets.html' import render_pagination as paginate %}
{% if pagination.has_next or pagination.has_prev %}
{{ paginate(pagination) }}
{% endif %}
{% endblock %}
