{% extends 'base.html %}
{% block title %}银卡卡列表{% endblock %}
{% block content %}
<table>
  <thead>
    <tr>
      <th>卡号</th>
      <th>户名</th>
      <th>拥有者</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    {% for bankcard in pagination.items %}
    <tr>
      <td>{{ bankcard.no }}</td>
      <td>{{ bankcard.name }}</td>
      <td>{{ bankcard.owner }}</td>
      <td>
	<form method='POST' action='/bankcard/delete/{{ bankcard.id }}'>
	  <input type='submit' value='删除'>
	</form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
