<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta encoding='utf-8'>
    <title>{% block title %}{% endblock %}</title>
    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}"/>
    {% endblock %}
    {% endblock %}
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}&copy; Copyright 2015 by zhaozengguang.{% endblock %}
    </div>
    {% block jslib %}
    <script src="{{ url_for('static',filename='javascript/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='javascript/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='javascript/jquery.unveil.min.js') }}"></script>
    <script src="{{ url_for('static',filename='javascript/jquery.scrollUp.min.js') }}"></script>
    <script src="{{ url_for('static',filename='javascript/toc.min.js') }}"></script>
    <script src="{{ url_for('static',filename='javascript/site.min.js') }}"></script>
    {% endblock %}
  </body>
</html>
