{% extends 'base.html' %}
{% block title %}note search{% endblock %}
{% block content %}
<form method='GET'>
  <div>
    <label for='finished'>is finished</label>
    <input type='checkbox' id='finished' name='finished'>
  </div>
  <input type='submit' value='search'>
</form>
<table>
  <thead>
    <tr>
      <th>person</th>
      <th>content</th>
      <th>start date</th>
      <th>end date</th>
      <th>effective</th>
      <th>operation</th>
    </tr>
  </thead>
  <tbody>
    {% for item in pagination.items %}
    <tr>
      <td>{{ item.person }}</td>
      <td>{{ item.content }}</td>
      <td>{{ item.start_date }}</td>
      <td>{{ item.end_date }}</td>
      <td>{{ item.effective }}</td>
      <td>
	<a href='{{ url_for("note_finish", pk=item.id) }}'>finish</a>
	<a href='{{ url_for("note_disable", pk=item.id) }}'>disable</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% from 'widgets.html' import render_pagination %}
{% if pagination.has_next or pagination.has_prev %}
{{ render_pagination(pagination) }}
{% endif %}
{% endblock %}
