{% extends 'base.html' %}
{% block title %}person search{% endblock %}
{% block content %}
<form method='GET'>
  <div>
    <label for='finished'>is finished</label>
    <input type='checkbox' id='finished' name='finished'>
  </div>
  <input type='submit' value='search'>
</form>
<table>
  <thead>
    <th>
      <td>person</td>
      <td>content</td>
      <td>start date</td>
      <td>end date</td>
      <td>effective</td>
    </th>
  </thead>
  <tbody>
    {% for item in pagination.items %}
    <tr>
      <td>{{ item.person }}</td>
      <td>{{ item.content }}</td>
      <td>{{ item.start_date }}</td>
      <td>{{ item.end_date }}</td>
      <td>{{ item.effective }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% from 'widgets.html' import render_pagination %}
{% if pagination.has_next or pagination.has_prev %}
{{ render_pagination(pagination) }}
{% endif %}
{% endblock %}
