{% extends 'base.html' %}
{% block title %}账目批量结转{% end block %}
{% block content %}
<form method='POST'>
  <div>
    <label for='peroid'>结转期</label>
    <input id='peroid' name='peroid'>
  </div>
  <div>
    <label for='item1'>源条目</label>
    <select id='item1' name='item1'>
      {% for item in paybookitems.DEFAULT_ITEMS %}
      <option value={{ item }}>{{ item }}</option>
      {% endfor %}
    </select>
  </div>
  <div>
    <label for='item2'>目标条目</label>
    <select id='item2' name='item2'>
      {% for item in paybookitems.DEFAULT_ITEMS %}
      <option value={{ item }}>{{ item }}</option>
      {% endfor %}
    </select>
  </div>
  <input type='submit' value='结转'>
</form>
{% endblock %}
