{% extends 'base.html' %}
{% block title %}pay book successed{% endblock %}
{% block content %}
<form method='GET'>
  <div>
    <label for='person_id'>person id</label>
    <input id='person_id' name='person_id'>
  </div>
  <div>
    <label for='peroid'>peroid</label>
    <input id='peroid' name='peroid'>
  </div>
  <input type='submit' value='search'>
</form>
<table>
  <thead>
    <tr>
      <th>idcard</th>
      <th>person_name</th>
      <th>item.bankcard_no</th>
      <th>bankcard_name</th>
      <th>item.money</th>
      <th>item.peroid</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for item in pagination.items %}
    <tr>
      <td>{{ item.idcard }}</td>
      <td>{{ item.person_name }}</td>
      <td>{{ item.bankcard_no }}</td>
      <td>{{ item.bankcard_name }}</td>
      <td>{{ item.money }}</td>
      <td>{{ item.peroid }}</td>
      <td></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% from 'widgets.html' import render_pagination %}
{% if pagination.has_next %}
{{ render_pagination(pagination) }}
{% endif %}
{% endblock %}
