{% extends 'base.html' %}
{% block tilte %}人员列表{% endblock %}
{% block content %}
<table border=1 cellspacing=0>
  <thead>
    <tr>
      <th>身份证号</th>
      <th>出生日期</th>
      <th>姓名</th>
      <th>地址</th>
      <th>详细地址</th>
      <th>社保编号</th>
      <th>个人待遇</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td><a href='/person/add/'>增加</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>
  <tbody>
    {% for person in pagination.items %}
      <td>{{ person.idcard }}</td>
      <td>{{ person.birthday }}</td>
      <td>{{ person.name }}</td>
      <td>{{ person.address.name }}</td>
      <td>{{ person.address_detail }}</td>
      <td>{{ person.securi_no }}</td>
      <td>{{ person.personal_wages }}</td>
      <td>{{ person.statud }}</td>
      <td>
	<a href='/person/update/{{ person.id }}'>修改</a>
	<form action='/person/delete/{{ person.id }}' method='POST'>
	  <input type='submit' value='删除'>
	</form>
      </td>
    {% endfor %}
  </tbody>
</table>
{% import 'widgets.html' as widgets %}
{{ widgets.render_pagination(pagination, extra) }}
{% endblock %}
