{% extends 'base.html' %}
{% block title %}person search{% endblock %}
{% block content %}
<form method='GET'>
  <div>
    <label for='idcard'>begin of idcard</label>
    <input id='idcard' name='idcard'>
  </div>
  <div>
    <label for='name'>begin of name</label>
    <input id='name' name='name'>
  </div>
  <div>
    <label for='address'>begin of address name</label>
    <input id='address' name='address'>
  </div>
  <input type='submit' value='search'>
</form>
<table class='table'>
  <thead>
    <tr>
      <th>idcard</th>
      <th>name</th>
      <th>address</th>
      <th>status</th>
      <th>operator</th>
    </tr>
  </thead>
  <tbody>
    {% for item in pagination.items %}
    <tr>
      <td>{{ item.idcard }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.address.name }}</td>
      <td>{{ item.status }}</td>
      <td>
	{% if current_user.has_role('admin') %}
	<a href='{{ url_for("person_update", pk=item.id) }}'>update</a>
	{% else %}
	update
	{% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% from 'widgets.html' import render_pagination %}
{% if pagination.has_next or pagination.has_prev %}
{{ render_pagination(pagination) }}
{% endif %}
{% endblock %}
