{% extends 'base.html' %}
{% block title %}更新人员信息{% endblock %}
{% block content %}
<form method='POST'>
  <div>
    <label id='idcard'>身份证号</label>
    <input id='idcard' name='idcard' value='{{ person.idcard }}'>
  </div>
  <div>
    <label id='birthday'>出生日期</label>
    <input id='birthday' name='birthday' value='{{ person.birthday.strftime('%Y-%m-%d') }}'>
  </div>
  <div>
    <label id='name'>姓名</label>
    <input id='name' name='name' value='{{ person.name }}'>
  </div>
  <div>
    <label id='address_id'>地址</label>
    <select id='address_id' name='address_id' selected='selected'>
      <option value='{{ person.address.id }}'>{{person.address.name }}</option>
      {% for address in addresses %}
      <option value='{{ address.id }}'>{{ address.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div>
    <label id='address_detail'>详细地址</label>
    <input id='address_detail' name='address_detail' value='{{ person.address_detail }}'>
  </div>
  <div>
    <label id='securi_no'>社保编号</label>
    <input id='securi_no' name='securi_no' value='{{ person.securi_no }}'>
  </div>
  <div>
    <label id='personal_wages'>个人待遇</label>
    <input id='personal_wages' name='personal_wages' value='{{ person.personal_wages }}'>
  </div>
  <input type='submit' value='修改'>
</form>
{% endblock %}
