{% extends 'base.html' %}
{% block title %}role search{% endblock %}
{% block content %}
<form method='GET'>
  <div>
    <label for='name'>begin of name</label>
    <input name='name' id='name'>
  </div>
  <input type='submit' value='search'>
</form>
<table>
  <thead>
    <tr>
      <th>name</th>
      <th>operation</th>
    </tr>
  </thead>
  <tbody>
    {% for item in pagination.items %}
    <tr>
      <td>{{ item.name }}</td>
      <td>
	{% if current_user.has_role('admin') %}
	<a href='{{ url_for("admin_role_remove", pk=item.id) }}'>delete</a>
	{% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% from 'widgets.html' import render_pagination %}
{% if pagination.has_next or pagination.has_prev %}
{{ render_pagination(pagination) }}
{% endif %}
{% endblock %}
